body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
    }
    
    .nav-menu{
        background: blue;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-menu img{
        width: 30px;
    }
    
    .nav-menu h1{
        color: white;
    }
    .nav-menu div{
        display: flex;
    }