*{
    outline: none;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
 
}

.alerta {
  background-color: lightgreen;
  color: white;
  padding: 20px;
  display: flex;
  visibility: hidden;
  justify-content: space-between;
  
}

.alerta img {
  width: 30px;
  margin-right: 20px;
}

.alerta div{
  display: flex;
  margin: none;
}

.alerta img:last-child {
  width: 20px;
  cursor: pointer;
}

.titulo {
  text-align: center;
  font-weight: 300;
}

.formulario {
  border: 1.5px solid gray;
  width: 30%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.formulario div {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.formulario input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.formulario input[type=radio]{
  width: 20px;
} 

.formulario label {
  width: 30%;
}

.btn-salvar{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.botoes{
    justify-content: flex-end;
    margin-top: 40px;
}

.formulario select{
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
  
}

.formulario fieldset{
  border: 1.5px solid gray;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 30px;
}

.formulario legend{
  text-align: center;
}